* {
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Poppins', sans-serif;
}

body {
    background-image: url(./images/bg-intro-desktop.png);
    height: auto;
    width: 1440px;
    background-color: hsl(0, 100%, 74%);
    background-size: cover;
    font-size: 16px;
    background-repeat: no-repeat;
    background-position: center center;
}


button {
    font-family: 'Poppins', sans-serif;
}

::placeholder {
    font-family: 'Poppins', sans-serif;
}

.container {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 300px;
    padding-bottom: 300px;
}

.child {
    display: flex;
    flex-direction: column;
    width: 568px;
}

#texto-lateral {
    color: white;
    margin-left: 10px;
    position: relative;
    top: 20px;
    left: 10px;
}

#texto-lateral h1 {
    width: 600px;
    font-size: 52px;
    line-height: 1.1;
    margin-left: 65px;
}
#texto-lateral p {
    width: 565px;
    line-height: 1.6;
    margin: 32px 0 0 65px;
    font-size: 17px;
}

/*----------------------------------FORMULÀRIO----------------------------------*/
#formulario {
    height: 40px;
    margin-right: 15px;
    position: relative;
    bottom: 160px;
}

.campo {
    margin: 0 0 23px 0;
    border-radius: 5px;
    padding: 20px;
    border: none;
    border: 1px solid hsl(246, 25%, 77%);
    font-weight: 700;
    font-size: 15.5px;
    color:hsl(248, 9%, 36%);
}

/*BOTÂO PREÇO*/
#preco {
    background-color: hsl(248, 32%, 49%);
    color: white;
    padding: 19px;
    border-radius: 10px;
    border: none;
    border: 1px solid hsl(246, 8%, 47%);
    text-align: center;
    margin: 0 0 25px 0;
    box-shadow: 0 8px hsl(0, 0%, 0%, 0.15);
    font-weight: 500;
    font-size: 16px;
}

#preco span {
    font-weight: 400;
}

/*---CONTEÙDO FORMULÀRIO---*/
#conteudo-formulario {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 43px 30px 45px 30px;
    border-radius: 10px;
    box-shadow: 0 8px hsl(0, 0%, 0%, 0.15);
}

/*BOTÂO FREE TRIAL*/
#free-trial{
    background-color: hsl(154, 59%, 51%);
    color: white;
    font-weight: 400;
    border: none;
    border-radius: 10px;
    padding: 15px;
    font-weight: 500;
    font-size: 16px;
    box-shadow: 0 4px hsl(154, 40%, 51%);
    
}

/*AGREE*/
#agree {
    font-size: 12px;
    text-align: center;
    font-weight: 700;
    margin-top: 20px;
    color:hsl(246, 25%, 77%)
}

#agree a {
    text-decoration: none;
    font-weight: 700;
    color: hsl(0, 100%, 74%);
}

/*----------------------------------FOOTER----------------------------------*/

.conteudo-footer {
    position: relative;
    text-align: center;
    bottom: 5px;
    width: 100%;
    margin: 10px;
    color:hsl(249, 3%, 59%);
    font-size: 14px;
}

.conteudo-footer a {
    color: hsl(248, 32%, 49%);
}
